{% extends 'VichUploaderBundle:Form:fields.html.twig' %}
{% block vich_file_widget %}
    <h1>Bonjourr</h1>
    {{ parent() }}
{% endblock %}

{% block vich_image_widget %}
    {{ parent() }}
{% endblock %}