{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block heading %}
{% endblock %}
{% block content %}

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Page non trouvée</p>
        <p class="text-gray-500 mb-0">On dirait que vous avez trouvé un petit problème dans la matrice ...</p>
        <a href="{{ path('main') }}">&larr; Retour au page d'accueil</a>
    </div>
{% endblock %}